<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">


    <test name="Test">
        <classes>
            <class name="LoginAndRegister" />
            <class name="ActivateAndUpdate" />
            <class name="InsertData" />
<!--            <class name="DeleteData" />-->
<!--            <class name="DeleteUserAndCloseApp" />-->
        </classes>
    </test>
</suite>